body { margin: 0px }

#headerTable {
    width: 70%;
    height: 20%;
    background-color: black;
    text-align: left;
    margin: 2px 15%;
    padding: 1px 10px;
}

#main {
    width: 70%;
    height: 80%;
    text-align: left;
    margin: 0px 15%;
    padding: 8px 20px 8px 0px;
}

.title {  
    font-size: 30px;
    color: red;
    width: 95%;
}

.menu {
    width: 35px;
    height: 5px;
    background-color: ghostwhite;
    margin: 6px 0;
}


.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;

}


a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.button-color:hover {
    background-color: red;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:red;
}
.menu-button:hover{
    background-color:red;
}



.show {
    display: block;
}


.menu-button {
    width: 200px;
    display: block;
    background: #4E9CAF;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    padding: 5px;
    margin: 2px 10px;
}

.button-color {
    display: block;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    float: left;
    margin-right: 5px;
}

.table-border {
    border: 1px solid black;
    border-collapse: collapse;
}
.apiButton {
    display: block;
    background: #A9A9A9;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    line-height: 25px;
    float: left;
    margin-right: 5px;
}
