body { margin: 0px }

#header {
    width: 70%;
    height: 20%;
    background-color: black;
    text-align: left;
    margin: 2px 15%;
    padding: 1px 10px;
}

#main {
    width: 70%;
    height: 80%;
    text-align: left;
    margin: 0px 15%;
    padding: 8px 20px 8px 0px;
}

.redText {  
    color: red;
}